@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}
h1{
  border:1px solid black;
  padding: 5px;
  color: white;
  background-color: blue;
}
nav ul{
  margin: 0 0 0 8px;
  padding-left: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-right: 30px;
  padding: 10px 0;
}

#about-me-picture{
  max-height: 300px;
}
#profile-picture{
  max-height: 300px;
  margin-bottom: 21px;
}
.nav-link{
  padding: 5px;
  border: 1px solid blue;
}
.name-and-picture{
  display: flex;
}
.video-list{
  list-style: none;
}
