.name-and-picture{
  display: flex;
}
#profile-picture{
  max-height: 300px;
  margin-bottom: 21px;
}
.nav-link{
  padding: 5px;
  border: 1px solid blue;
}
#about-me-picture{
  max-height: 300px;
}
body{
  font-family: 'Roboto', sans-serif;
}
h1{
  border:1px solid black;
  padding: 5px;
  color: white;
  background-color: blue;
}
